<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <span class="title_post"><%= post.title %></span>
  <%= link_to 'Show', post %> |
  <%= link_to 'Edit', edit_post_path(post) %> |
  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  <br />
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
